@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
body { background-color: white; color: black; }

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }